body{
    background-image: url(USA.png);
    background-repeat: no-repeat;
    background-size: 2000px;
}
body
#gugi{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    top: 470px;
    left: 200px;
}
label[for="first"]{
    position: absolute;
    background-color: rgb(211, 176, 87);
    height: 300px;
    width: 350px;
    left: 250px;
    top: 80px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
label[for="second"]{
    position: absolute;
    background-color: rgb(211, 176, 87);
    height: 300px;
    width: 350px;
    left: 1050px;
    top: 80px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
label[for="third"]{
    position: absolute;
    background-color: rgb(211, 176, 87);
    height: 300px;
    width: 350px;
    left: 650px;
    top: 80px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
label[for="fourth"]{
    position: absolute;
    background-color: rgb(211, 176, 87);
    height: 300px;
    width: 350px;
    left: 100px;
    top: 450px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
label[for="fifth"]{
    position: absolute;
    background-color: rgb(211, 176, 87);
    height: 300px;
    width: 350px;
    left: 500px;
    top: 450px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
label[for="sixth"]{
    position: absolute;
    background-color: rgb(211, 176, 87);
    height: 300px;
    width: 350px;
    left: 900px;
    top: 450px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
label[for="seventh"]{
    position: absolute;
    background-color: rgb(211, 176, 87);
    height: 300px;
    width: 350px;
    left: 1300px;
    top: 450px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.first img{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    top: 150px;
    left: 350px;
}
.second img{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    top: 150px;
    left: 1150px;
}
.third img{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    top: 530px;
    left: 600px;
}
.fourth img{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    top: 530px;
    left: 1000px;
}
.fifth img{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    top: 530px;
    left: 1400px;
}
.sixth img{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    top: 530px;
    left: 200px;
}
.seventh img{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    top: 150px;
    left: 750px;
}