body{
    background-image: url(spa.png);
    background-size: 2000px;
    background-repeat: no-repeat;
}
.tabla{
    position: absolute;
    background-color: rgb(4, 47, 95);
    height: 400px;
    width: 900px;
    border-radius: 13px;
    right: 500px;
    top: 200px;
}
label[for="race"]{
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    top: 10px;
    left: 70px;
    font-weight: 600;
    color: rgb(240, 173, 118);
}
label[for="date"]{
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    top: 130px;
    left: 180px;
    font-weight: 540;
    color: rgb(240, 173, 118);
}
label[for="clock"]{
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    top: 134px;
    left: 450px;
    color: rgb(240, 173, 118);
}
label[for="follow"] a {
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    top: 290px;
    left: 180px;
    text-decoration: none;
}
a:hover{
    color: rgb(187, 0, 250);
}
label[for="car"]{
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 540;
    font-size: 30px;
    color: rgb(240, 173, 118);
    top: 200px;
    left: 200px;
}