.nigger{
    position: absolute;
    display: block;
    background-color: rgb(0, 0, 93);
    height: 1800px;
    width: 700px;
    border-radius: 13px;
    left: 600px;
    justify-items: center;
    color: rgb(184, 198, 250);
}
body{
    background-image: url(hungar.jpg);
    background-repeat: no-repeat;
    background-size: 2300px;
}
p{
    text-align: center;
}
.web{
    position: absolute;
    bottom: -6px;
}
