body{
    background-image: url(nurn3.jpg);
    background-size: 2500px;
    height: 1000px;
}
.standingg{
    position: absolute;
    background-color: rgb(24, 44, 134);
    height: 500px;
    width: 1000px;
    top: 10%;
    left: 20%;
    border-radius: 13px;
}
.tabla{
    width: 100%;
    text-align: center;
}
td {
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
}
