body{
    background-image: url(red.png);
    background-repeat: no-repeat;
    background-size: 1900px;
}
label[for="wack"]{
    position: absolute;
    background-color: rgb(99, 142, 228);
    width: 1100px;
    height: 500px;
    top: 200px;
    left: 350px;
    border-radius: 20px;
}
label[for="cigany"]{
    position: absolute;
    font-size: 120px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 130px;
    left: 200px;
}