body{
    background-image: url(img_8.jpg);
    background-size: 1600px;
}
body
.hatter{
    background-color: rgb(0, 0, 53);
    display: flex;
    height: 450px;
    width: 750px;
    position: absolute;
    top: 100px;
    left: 400px;
    border-radius: 20px;
}
label[for="next_race"]{
    position: absolute;
    color: white;
    font-size: 50px;
    top: 100px;
    left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label[for="march"]{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 180px;
    left: 250px;
}
label[for="track"]{
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 220px;
    left: 250px;
}
label[for="inf"]{
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 400px;
    left: 250px;
}
.poster img{
    position: absolute;
    height: 500px;
    width: 300px;
    right: 10px;
    top: 100px;
    border-radius: 6px;
}
label[for="standings"]{
    position: absolute;
    color: white;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 300px;
    left: 300px;
}
.results{
    position: absolute;
    display: flex;
    height: 300px;
    width: 200px;
    background-color: rgb(0, 0, 53);
    top: 160px;
    left: 60px;
    border-radius: 15px;
}
label[for="one"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 40px;
    left: 60px;
}
label[for="two"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 80px;
    left: 60px;
}
label[for="three"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 120px;
    left: 60px;
}
label[for="four"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 160px;
    left: 60px;
}
label[for="five"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 200px;
    left: 60px;
}
label[for="idk"]{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 5px;
    left: 30px;
}