@media screen and (max-width: 1000px){
    body{
        background-image: url(img_8.jpg);
        background-size: 30px;
    }
    .poster img{
    position: absolute;
    height: 100px;
    width: 100px;
    right: 10px;
    top: 100px;
    }
}