body{
    background-image: url(img_8.jpg);
    background-size: 2000px;
    height: 1000px;
}
body
.hatter{
    background-color: rgb(0, 0, 53);
    display: flex;
    height: 550px;
    width: 950px;
    position: absolute;
    top: 150px;
    left: 550px;
    border-radius: 20px;
}
label[for="news"]{
    position: absolute;
    color: white;
    font-size: 90px;
    top: 10px;
    left: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
label[for="next_race"]{
    position: absolute;
    color: white;
    font-size: 60px;
    top: 130px;
    left: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
label[for="march"]{
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 200px;
    left: 200px;
}
label[for="track"]{
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 250px;
    left: 200px;
}
label[for="inf"]{
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 400px;
    left: 250px;
}
.poster img{
    position: absolute;
    height: 500px;
    width: 300px;
    right: 10px;
    top: 100px;
    border-radius: 6px;
}
label[for="standings"]{
    position: absolute;
    color: white;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 300px;
    left: 300px;
}
.results{
    position: absolute;
    display: flex;
    height: 400px;
    width: 250px;
    background-color: rgb(0, 0, 53);
    top: 160px;
    left: 60px;
    border-radius: 15px;
}
label[for="one"] a {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 42px;
    left: 50px;
    text-decoration: none;
}
label[for="two"]{
    position: absolute;
    color: grey;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 90px;
    left: 50px;
}
label[for="three"]{
    position: absolute;
    color: grey;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 140px;
    left: 50px;
}
label[for="four"]{
    position: absolute;
    color: grey;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 190px;
    left: 50px;
}
label[for="five"]{
    position: absolute;
    color: grey;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 240px;
    left: 50px;
}
label[for="idk"]{
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 5px;
    left: 30px;
}
.menu{
    position: absolute;
    display: flex;
    align-items: center;
    background-color: midnightblue;
    height: 80px;
    right: 700px;
    width: 400px;
    justify-content: space-between;
    padding: 0 12px;
    border-radius: 8px;
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 9px;
  font-size: 50px;
  font-weight: 600;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  position: relative;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropmn {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:transparent;
  backdrop-filter:blur(20px);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  border-radius: 10px;
}
.dropmn a {
  color:rgb(221, 217, 217);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
}
.dropmn a:hover {background-color: #434343; border-radius: 10px;}
.dropdown:hover .dropmn {display: block;}
.dropdown:hover .dropbtn {background-color: transparent;}


.team {
  background-color: transparent;
  color: white;
  padding: 9px;
  font-size: 50px;
  font-weight: 600;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  position: relative;
}
.dropdown2 {
  position: relative;
  display: inline-block;
}
.teams {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(20px);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  border-radius: 10px;
}
.teams a {
  color: rgb(221, 217, 217);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.teams a:hover {background-color:#434343; border-radius: 10px;}
.dropdown2:hover .teams {display: block;}
.dropdown2:hover .team {background-color: transparent;}
.rights{
  position: absolute;
  top: 890px;
  left: 500px;
  background-color: midnightblue;
  width: 1000px;
  height: 230px;
  border-radius: 10px;
}
img.simgrid{
  position: absolute;
  height: 130px;
  top: 70px;
  left:15px;
}
label[for="2025"]{
  position: absolute;
  color: rgb(197, 202, 246);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  top: 10px;
  left: 543px;
}
label[for="fasz"]{
  position: absolute;
  color: rgb(197, 202, 246);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  top: 35px;
  right: 20px;
}
label[for="support"]{
  position: absolute;
  color: #6e75b4;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  top: 16px;
  left: 60px;
}
label[for="email"] a {
  position: absolute;
  color: #c5caf6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  top: 60px;
  left: 80px;
  text-decoration: none;
}

img.twitch{
  position: absolute;
  height: 80px;
  top: 100px;
  left: 150px;
}
label[for="privacy"] a {
  position: absolute;
  color:#dddff5;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 25px;
  top: 60px;
  right: 20px;
}
img.insta{
  position: absolute;
  height: 75px;
  top: 97px;
  left: 240px;
}
img.tiktok{
  position: absolute;
  height: 130px;
  top: 70px;
  left: 310px;
}