body{
    background-image: url(img_8.jpg);
    background-size: 1600px;
}
.hatter{
    background-color: rgb(0, 0, 53);
    display: flex;
    height: 450px;
    width: 750px;
    position: absolute;
    top: 100px;
    left: 400px;
    border-radius: 20px;
}
label[for="next_race"]{
    position: absolute;
    color: white;
    font-size: 50px;
    top: 100px;
    left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label[for="march"]{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 180px;
    left: 250px;
}
label[for="track"]{
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 220px;
    left: 250px;
}
label[for="inf"]{
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 400px;
    left: 250px;
}
.poster img{
    position: absolute;
    height: 500px;
    width: 300px;
    right: 10px;
    top: 100px;
}
label[for="standings"]{
    position: absolute;
    color: white;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 300px;
    left: 300px;
}