@media screen and (max-width: 700px){
    body{
        background-image: url(img_8.jpg);
        background-size: 1600px;
        background-repeat: no-repeat;
    }
    .poster img{
    position: absolute;
    height: 300px;
    width: 200px;
    left: 30px;
    top: 550px;
    border-radius: 4px;
    }
    body
    .hatter{
    background-color: rgb(0, 0, 53);
    display: flex;
    height: 500px;
    width: 450px;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 20px;
}
label[for="next_race"]{
    position: absolute;
    color: white;
    font-size: 50px;
    top: 50px;
    left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label[for="march"]{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 130px;
    left: 150px;
}
label[for="track"]{
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 220px;
    left: 150px;
}
label[for="inf"]{
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 400px;
    left: 150px;
}
label[for="standings"]{
    position: absolute;
    color: white;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 300px;
    left: 150px;
}
.results{
    position: absolute;
    display: flex;
    height: 300px;
    width: 200px;
    background-color: rgb(0, 0, 53);
    top: 550px;
    left: 250px;
    border-radius: 15px;
}
label[for="one"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 40px;
    left: 60px;
}
label[for="two"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 80px;
    left: 60px;
}
label[for="three"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 120px;
    left: 60px;
}
label[for="four"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 160px;
    left: 60px;
}
label[for="five"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 200px;
    left: 60px;
}
label[for="idk"]{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 5px;
    left: 30px;
}
}