body{
    background-image: url(img_8.jpg);
    background-size: 2000px;
    height: 1000px;
}
body
.hatter{
    background-color: rgb(0, 0, 53);
    display: flex;
    height: 450px;
    width: 750px;
    position: absolute;
    top: 100px;
    left: 400px;
    border-radius: 20px;
}
label[for="next_race"]{
    position: absolute;
    color: white;
    font-size: 50px;
    top: 100px;
    left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label[for="march"]{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 180px;
    left: 250px;
}
label[for="track"]{
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 220px;
    left: 250px;
}
label[for="inf"]{
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 400px;
    left: 250px;
}
.poster img{
    position: absolute;
    height: 500px;
    width: 300px;
    right: 10px;
    top: 100px;
    border-radius: 6px;
}
label[for="standings"]{
    position: absolute;
    color: white;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 300px;
    left: 300px;
}
.results{
    position: absolute;
    display: flex;
    height: 300px;
    width: 200px;
    background-color: rgb(0, 0, 53);
    top: 160px;
    left: 60px;
    border-radius: 15px;
}
label[for="one"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 40px;
    left: 60px;
}
label[for="two"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 80px;
    left: 60px;
}
label[for="three"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 120px;
    left: 60px;
}
label[for="four"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 160px;
    left: 60px;
}
label[for="five"]{
    position: absolute;
    color: grey;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 200px;
    left: 60px;
}
label[for="idk"]{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 5px;
    left: 30px;
}
.menu{
    position: absolute;
    display: flex;
    align-items: center;
    background-color: midnightblue;
    height: 40px;
    right: 600px;
    width: 300px;
    justify-content: space-between;
    padding: 0 12px;
    border-radius: 8px;
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 9px;
  font-size: 30px;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  position: relative;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropmn {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:transparent;
  backdrop-filter:blur(20px);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  border-radius: 10px;
}
.dropmn a {
  color:rgb(221, 217, 217);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
}
.dropmn a:hover {background-color: #434343; border-radius: 10px;}
.dropdown:hover .dropmn {display: block;}
.dropdown:hover .dropbtn {background-color: transparent;}


.team {
  background-color: transparent;
  color: white;
  padding: 9px;
  font-size: 30px;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  position: relative;
}
.dropdown2 {
  position: relative;
  display: inline-block;
}
.teams {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(20px);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  border-radius: 10px;
}
.teams a {
  color: rgb(221, 217, 217);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.teams a:hover {background-color:#434343; border-radius: 10px;}
.dropdown2:hover .teams {display: block;}
.dropdown2:hover .team {background-color: transparent;}
.rights{
  position: absolute;
  top: 680px;
  left: 350px;
  background-color: midnightblue;
  width: 900px;
  height: 200px;
  border-radius: 10px;
}
img.simgrid{
  position: absolute;
  height: 100px;
  width: 100px;
  top: 70px;
  left: 40px;
}
label[for="2025"]{
  position: absolute;
  color: rgb(197, 202, 246);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  top: 20px;
  left: 450px;
}
label[for="support"]{
  position: absolute;
  color: #6e75b4;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
  top: 20px;
  left: 60px;
}
label[for="email"] a {
  position: absolute;
  color: #c5caf6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  top: 65px;
  left: 90px;
  text-decoration: none;
}

img.twitch{
  position: absolute;
  height: 40px;
  top: 100px;
  left: 160px;
}
label[for="privacy"] a {
  position: absolute;
  color:#dddff5;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 15px;
  top: 50px;
  right: 20px;
}
img.insta{
  position: absolute;
  height: 45px;
  top: 97px;
  left: 230px;
}
img.tiktok{
  position: absolute;
  height: 80px;
  top: 80px;
  left: 290px;
}